@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

.title{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4vh;
}